*{
    margin:0;
    padding:0;
    box-sizing: border-box;
font-family: fantasy;
}

body{
    background-color: rgb(224, 224, 224);
font-style: italic;
font-family: fantasy;
font-size: 20px;    
color: rgb(80, 80, 80);
}

header{
    width: 100%;
    height: 650px;
    background-image: url(imagenes/computo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: rgb(224, 224, 224);
    text-align: center;
}
header{
    margin-top: 1px;
    border-color: transparent;

}
.titulo{
    color: rgb(224, 224, 224);

    font-size: 60px;
    font-weight: 300;

}
.umg{
    opacity: 70%;
}
.titulo{
    margin: unset;
}
.sesgo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent rgb(224, 224, 224) transparent;
    padding: 60px;
}
.vidumg{
    margin-top: 100px;
    margin-bottom: 100px;
}

.parte1{
    background-color: rgb(209, 205, 205);
    margin-top: 30px;
}
.title{
    font-size: 25px;
    font-weight: 300;
    color: indigo;
}
.parte1{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
}
.parte1 img{
    float: left;
    margin-right: 30px;
    margin-bottom: 300px;
    margin-left: 20px;
    margin-top: 30px;
}
 .parte4 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background-color: beige;
 }
 .parte4 img{
     float: left;
     width: 300px;
     margin-right: 20px;
     margin-bottom: 30px;
     margin-left: 20px;
     margin-top: 30px;
 } 
 .parte3 img{
     float: right;
     margin-right: 20px;
     margin-bottom: 20px;
     margin-left: 20px;
     margin-top: 30px;
 }
 .parte7 img{
    background-size: 300px;
     float: left;
     margin-bottom: 20px;
     margin-right: 20px;
     margin-left: 20px;
     margin-top: 30px;
 }
 .parte2 img{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.anuncio{
    color: rgb(49, 3, 75);
    font-size: 25px;
    margin-bottom: 20px;
}
.hex img{
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 60px;
}
h2{
    margin-top: 30px;
    color: black;
    font-size: 25px;
}
.parte5 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background-color: rgb(140, 140, 240);
}
.parte6 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
background-color: rgb(174, 174, 196);
}
.web {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background-color: rgb(187, 204, 204);
}
.parte6 img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;

}